:root{
    --backgroundColor: rgb(70, 70, 70);
    --textColor: aquamarine;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundColor);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

p, div, a{
    color: var(--textColor);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
}