nav{
    position: fixed;
    width: 70px;
    left: 0;
    top: 57px;
    bottom: 0;
    background-color: white;
    padding-top: 5px;
    border-right: 1px;
    border-right-color: grey;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74px;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(233, 232, 232);
}

.sidebar-link img{
    width: 23px;
}

.sidebar-link div{
    font-size: 10px;
    font-family: Arial;
    margin-top: 7px;
}